.cabecera{
    background-color: map-get($standard, color-standard);
    font-family: map-get($standard, font-standard );
    padding-top: 15px;
    position: sticky;
    top: 0;
    z-index: 99999999;
}
.cabecera img{
    display: block;
    margin: auto;
}
